# Ref: https://github.com/bitnami/containers/blob/main/.github/workflows/clossing-issues.yml
name: '[Support] Close Solved issues'
on:
  schedule:
    # Hourly
    - cron: '0 * * * *'
permissions:
  issues: write
  pull-requests: write
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.SOFTWARE_APP_ID }}
          private_key: ${{ secrets.SOFTWARE_APP_PRIVATE_KEY }}
          installation_id: ${{ secrets.SOFTWARE_APP_INSTALLATION_ID }}
      - uses: actions/stale@v6.0.1
        with:
          repo-token: ${{ steps.generate_token.outputs.token }}
          any-of-labels: 'solved'
          stale-issue-label: 'solved'
          days-before-stale: 0
          days-before-close: 0
